@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* Mine */
  --color-good-guess: var(--good-guess);
  --color-good-guess-foreground: var(--good-guess-foreground);
  --color-wrong-guess: var(--wrong-guess);
  --color-wrong-guess-foreground: var(--wrong-guess-foreground);
  --color-medium-difficulty: var(--medium-difficulty);
  --color-chart-male: var(--chart-male);
  --color-chart-female: var(--chart-female);
  --color-chart-PDC: var(--chart-PDC);
  --color-chart-WDF: var(--chart-WDF);
  --color-chart-BDO: var(--chart-BDO);
  --color-chart-easy: var(--chart-easy);
  --color-chart-medium: var(--chart-medium);
  --color-chart-hard: var(--chart-hard);
  --color-chart-very-hard: var(--chart-very-hard);
  --color-chart-age: var(--chart-age);
  --color-chart-birth-month: var(--chart-birth-month);
  --color-chart-birth-date: var(--chart-birth-date);
  --color-chart-birth-day: var(--chart-birth-day);
  --color-chart-country: var(--chart-country);
  --color-chart-playing-since: var(--chart-playing-since);
  --color-chart-darts-brand: var(--chart-darts-brand);
  --color-chart-darts-weight: var(--chart-darts-weight);
  --color-chart-nine-darters: var(--chart-nine-darters);
  --color-chart-random-players: var(--chart-random-players);
}

/* Green with 0.5 radius */

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.723 0.219 149.579);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.723 0.219 149.579);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.723 0.219 149.579);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.723 0.219 149.579);
  --good-guess: oklch(0.723 0.219 149.579);
  --good-guess-foreground: oklch(1 0 0);
  --wrong-guess: oklch(0.577 0.245 27.325);
  --wrong-guess-foreground: oklch(0.982 0.018 155.826);
  --medium-difficulty: oklch(0.828 0.189 84.429);
  --chart-male: oklch(0.6304 0.099 225.25);
  --chart-female: oklch(0.6304 0.1499 0);
  --chart-PDC: oklch(0.2991 0.1098 258.58);
  --chart-WDF: oklch(0.6935 0.1854 46.45);
  --chart-BDO: oklch(0.6565 0.2315 17.97);
  --chart-easy: oklch(0.7941 0.1543 145.87);
  --chart-medium: oklch(76.03% 0.1523 102.628);
  --chart-hard: oklch(0.6328 0.2306 28.07);
  --chart-very-hard: oklch(0.5475 0.1912 337.07);
  --chart-age: oklch(0.6328 0.114 152.7);
  --chart-birth-month: oklch(0.6328 0.114 334.51);
  --chart-birth-date: oklch(77.685% 0.14371 105.274);
  --chart-birth-day: oklch(0.7241 0.1737 37.28);
  --chart-country: oklch(0.7893 0.1737 118.81);
  --chart-playing-since: oklch(0.6233 0.1131 52.83);
  --chart-darts-brand: oklch(0.7348 0.0964 197.94);
  --chart-darts-weight: oklch(0.6328 0.2113 360);
  --chart-nine-darters: oklch(0.7348 0.2026 143.31);
  --chart-random-players: oklch(0.5641 0.1754 316.59);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.393 0.095 152.535);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.527 0.154 150.069);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.696 0.17 162.48);
  --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.527 0.154 150.069);
  --good-guess: oklch(82% 0.1752 145.3);
  --good-guess-foreground: oklch(0.141 0.005 285.823);
  --wrong-guess: oklch(0.704 0.191 22.216);
  --wrong-guess-foreground: oklch(0.141 0.005 285.823);
  --medium-difficulty: oklch(0.828 0.189 84.429);
  --chart-male: oklch(0.6304 0.099 225.25);
  --chart-female: oklch(0.6304 0.1499 0);
  --chart-PDC: oklch(0.7016 0.1098 258.58);
  --chart-WDF: oklch(0.6935 0.1854 46.45);
  --chart-BDO: oklch(0.6565 0.2315 17.97);
  --chart-easy: oklch(0.7941 0.1543 145.87);
  --chart-medium: oklch(0.828 0.189 84.429);
  --chart-hard: oklch(0.6328 0.2306 28.07);
  --chart-very-hard: oklch(0.7726 0.1912 337.07);
  --chart-age: oklch(0.6328 0.114 152.7);
  --chart-birth-month: oklch(0.6328 0.114 334.51);
  --chart-birth-date: oklch(0.7419 0.1297 95.51);
  --chart-birth-day: oklch(0.7241 0.1737 37.28);
  --chart-country: oklch(0.7893 0.1737 118.81);
  --chart-playing-since: oklch(0.6233 0.1131 52.83);
  --chart-darts-brand: oklch(0.7348 0.0964 197.94);
  --chart-darts-weight: oklch(0.6328 0.2113 360);
  --chart-nine-darters: oklch(0.7348 0.2026 143.31);
  --chart-random-players: oklch(0.5641 0.1754 316.59);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
